<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style/output/base.css">
  <link rel="stylesheet" href="../style/output/about.css">
  <title>Document</title>
</head>

<body>
  <div class="nav-container">
    <nav>
      <li><a href="./index.html">Home</a></li>
      <li><a href="./about-page.html">About</a></li>
      <li><a href="./contact-page.html">Contact</a></li>
    </nav>
  </div>
  <div class="main-container">
    <div class="about-container">
      <p>
        Hello! I'm DEGBOVI Maxime Atsou, a passionate Fullstack Developer with a keen interest in Web, Mobile, Design,
        Data, AI & ML. Currently pursuing my master's degree in IA & Big Data, I thrive on creating innovative
        solutions and exploring the world of code.
      </p>
      <p>My main web frontend is Angular and i'm currently use Sass and TailwindCss for style . I built performant API
        with FastAPI. I'm also a mobile developer with Flutter </p>
      <p>I'm very interested to work on opensource projet.</p>
      <p>Let's connect and build something amazing together!</p>
    </div>
    <div class="footer">
      <p>© 2025 DEGBOVI Maxime Atsou. All rights reserved.</p>
    </div>
  </div>






  </div>

</body>

</html>
