<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style/output/base.css">
  <link rel="stylesheet" href="../style/output/contact.css">
  <title>Document</title>
</head>

<body>
  <div class="nav-container">
    <nav>
      <li><a href="./index.html">Home</a></li>
      <li><a href="./about-page.html">About</a></li>
      <li><a href="./contact-page.html">Contact</a></li>
    </nav>
  </div>
  <div class="main-container">
    <div class="contact-me-container">
      <h2>Contact Me</h2>
      <p>If you want to reach me, you can contact me through the following means :</p>
      <ul>
        <li> Email : <span>maximeatsoudegbovi@gmail.com</span> </li>
        <li>Téléphone : <span>+228 91 36 10 29</span></li>
      </ul>
    </div>
    <div class="my-social-medias-container">
      <h2>My Social Medias :</h2>
      <ul>
        <li>LinkedIn :
          <a href="https://www.linkedin.com/in/maxime-degbovi-atsou-5b4b9821b/">
            <span>DEGBOVI Maxime Atsou</span>
          </a>
        </li>
        <li>GitHub : <a href="https://www.linkedin.com/in/maxime-degbovi-atsou-5b4b9821b/">
            <span>Harlequelrah</span>
          </a>
        </li>
      </ul>


    </div>

    <div class="footer">
      <p>© 2025 DEGBOVI Maxime Atsou. All rights reserved.</p>
    </div>


  </div>

</body>

</html>
