<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../style/output/base.css">
  <link rel="stylesheet" href="../style/output/index.css">
</head>

<body>
  <div class="nav-container">
    <nav>
      <li><a href="./index.html">Home</a></li>
      <li><a href="./about-page.html">About</a></li>
      <li><a href="./contact-page.html">Contact</a></li>
    </nav>
  </div>

  <div class="main-container">
    <div class="presentation-container">
      <div class="photo-container">
        <img src="../assets/me.jpg" alt="photo">
      </div>
      <div class="me-container">
        <p>Hi ! , I'm <span class="me-container--colored">DEGBOVI Maxime Atsou</span> </p>
        <h2 class="me-container--underlined">Fullstack Developer </h2>
        <p>who is also passionate about :</p>
        <ul class="me-container--list">
          <li> <span>Web</span></li>
          <li> <span>Mobile</span></li>
          <li> <span>Design</span></li>
          <li> <span>Data</span></li>
          <li> <span>IA & ML</span></li>
        </ul>
      </div>
    </div>
    <div class="about-me-container">
      <h2>I'm a software developer !</h2>
      <p>Currently I'am in master's degree in IA & Big Data .</p>
      <p>
        I am passionate about programming and exploring the world of code. I am driven by my passion for creating and
        innovating.
      </p>
    </div>

    <div class="tech-stack-container">
      <h2>Tech Stack :</h2>
      <div class="tech-stack-container--icons">
        <img src="https://img.shields.io/badge/python-3670A0?style=for-the-badge&logo=python&logoColor=ffdd54"
          alt="Python">
        <img
          src="https://img.shields.io/badge/typescript-%23007ACC.svg?style=for-the-badge&logo=typescript&logoColor=white"
          alt="Python">
        <img src="https://img.shields.io/badge/SASS-hotpink.svg?style=for-the-badge&logo=SASS&logoColor=white"
          alt="SCSS">
        <img src="https://img.shields.io/badge/FastAPI-005571?style=for-the-badge&logo=fastapi" alt="FastAPI">
        <img src="https://img.shields.io/badge/angular-%23DD0031.svg?style=for-the-badge&logo=angular&logoColor=white"
          alt="Angular">
        <img
          src="https://img.shields.io/badge/tailwindcss-%2338B2AC.svg?style=for-the-badge&logo=tailwind-css&logoColor=white"
          alt="TailwindCss">
        <img src="https://img.shields.io/badge/git-%23F05033.svg?style=for-the-badge&logo=git&logoColor=white"
          alt="Git">
        <img src="https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white"
          alt="Github">
        <img src="https://img.shields.io/badge/Postman-FF6C37?style=for-the-badge&logo=postman&logoColor=white"
          alt="Postman">
        <img src="https://img.shields.io/badge/-Swagger-%23Clojure?style=for-the-badge&logo=swagger&logoColor=white"
          alt="Swagger">
        <img
          src="https://img.shields.io/badge/JWT-black?style=for-the-badge&logo=JSON%20web%20tokens) ![RxJS](https://img.shields.io/badge/rxjs-%23B7178C.svg?style=for-the-badge&logo=reactivex&logoColor=white"
          alt="Jwt">
        <img src="https://img.shields.io/badge/mysql-4479A1.svg?style=for-the-badge&logo=mysql&logoColor=white"
          alt="MySQL">
        <img src="https://img.shields.io/badge/numpy-%23013243.svg?style=for-the-badge&logo=numpy&logoColor=white"
          alt="Numpy"><img
          src="https://img.shields.io/badge/pandas-%23150458.svg?style=for-the-badge&logo=pandas&logoColor=white"
          alt="Pandas"><img
          src="https://img.shields.io/badge/Matplotlib-%23ffffff.svg?style=for-the-badge&logo=Matplotlib&logoColor=black"
          alt="Matplotlib">
      </div>

      <div class="my-projects-container">
        <h2>My Projects :</h2>
        <div class="my-projects-container--cards">
          <div class="project-card">
            <div class="description-card">
              <h3>ElrahAPI</h3>
              <a href="https://github.com/Harlequelrah/Library-ElrahAPI">GitHub Repo</a>
              <p>This is a library i built to improve my backend development with fastapi and share my expertise</p>
            </div>
            <div class="screenshot-card">
              <img src="../assets/elrahapi.png" alt="elrahapi">
            </div>
          </div>
          <div class="project-card">
            <div class="description-card">
              <h3>AweSomeComponent</h3>
              <a href="https://github.com/Harlequelrah/Angular-awesome-components">GitHub
                Repo</a>
              <p>This is an angular project which use angular material and angular's best pratice</p>
            </div>
            <div class="screenshot-card">
              <img src="../assets/awesome-components.png" alt="awesome-components">
            </div>
          </div>
          <div class="project-card">
            <div class="description-card">
              <h3>Hotel Reservation</h3>
              <a href="https://github.com/Harlequelrah/flutter_reservation_hotel">GitHub
                Repo</a>
              <p>This is flutter pure frontend project for hotel reservation</p>
            </div>
            <div class="screenshot-card">
              <img src="../assets/awesome-components.png" alt="awesome-components">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <p>© 2025 DEGBOVI Maxime Atsou. All rights reserved.</p>
    </div>

</body>

</html>
